/* CSS Document
@charset "utf-8";

By I_amzQs
2018-12-12
*/


/* the style of index */
html,body {
    width:100%;
    height:100%
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}


#Top {
	background: var(--maincolor);
}
.header {
	padding-top: 86px;
	text-align: center;
}
.header h1 {
	font-size: 48px;
	color: #fff;
}
.header h1 a img {
	width: 280px;
}
.header h1 a .svg-logo {
	width: 256px;
	filter: drop-shadow(rgba(0,0,0,0.08) 6px 0px);　
}
.header #oDiv {
	height: 40px;
    line-height: 40px;
    margin-top: 10px;
    overflow: hidden;
}
.header #oDiv p {
	font-size: 16px;
	color: #fff;
	opacity: 0.6;
	display: none;
}
.menu {
	background: #fff;
	margin-top: 48px;
}
.nav {
	background: #f7f7f7;
	padding: 12px 0;
}
.nav a {
	display: inline-block;
	padding: 8px 18px;
	font-size: 16px;
	color: var(--asscolor);
	margin: 0 20px;
}
.nav a:hover {
	color: #16576B;
}
.nav a.active {
	background: #4398db;
	color: #fff;
	box-shadow: 0 2px var(--asscolor);
}


#Main {
	background: url(../imgs/bg.jpg) repeat;
}
.content {
	background: #fff;
	min-height: 680px;
	padding: 32px;
}
.tools-content {
	background: #fff;
	min-height: 680px;
	padding: 32px 17px;
}
.tools-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.tools-list .tools-link {
  	flex: 1;
 	font-size: 18px;
    color: #343434; 
    margin-top: 30px;
    padding: 24px 20px;
	display: inline-block;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #eee;
    /*box-shadow: 0 2px 6px 2px rgba(0,0,0,.04);*/
    text-align: left;
	background: url(../imgs/arow_basic.png) 97% center no-repeat #fff;
    background-size: 20px;
    text-decoration: none;
}
.tools-list .tools-link:hover {
    border: 1px solid #f7f7f7;
	box-shadow: 0 3px 6px 2px rgba(0,0,0,.06);
	color: var(--asscolor);
}
.tools-list .tools-link:first-child {
	margin-right: 15px;
}
.tools-list .tools-link:last-child {
	margin-left: 15px;
}
.tools-list .tools-link b {
	margin-right: 10px;
}
.page-pic {
	width: 100%;
}
.page-pic img {
	width: 100%;
	max-height: 240px
}
.article-list {
	display: block;
	width: 100%;
	padding: 32px 0;
	border-bottom: 1px dashed #eee;
}
.article-date {
	width: 96px;
	height: 96px;
	background: #f2f2f2;
	color: #666;
	text-align: center;
	font-size: 14px;
	margin-right: 24px;
}
.article-date b {
	display: block;
	font-size: 24px;
	margin-top: 20px;
}
.article-text {
	width: 86%;
}
.article-text a {
	font-size: 24px;
	color: #232323;
}
.article-text a:hover {
	color: var(--maincolor);
}
.article-text p {
	font-size: 16px;
	color: #767676;
	margin-top: 10px;
	line-height: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

#Bottom {
	background: var(--maincolor);
}
.footer {
	background: #f7f7f7;
	padding: 40px 32px 48px;
	display: -webkit-flex; /* Safari */
  	display: flex;
  	justify-content: space-around;
}
.flex-box {
	width: 33.3%;
	overflow: hidden;
}
.center-box {
	margin: 0 48px;
}
.flex-box h2 {
	font-size: 18px;
	color: #343434;
	font-weight: 400;
	margin-top: 32px;
	margin-bottom: 16px;
}
.flex-box a {
	display: block;
	width: 100%;
	padding: 18px 0;
	font-size: 14px;
	color: #666;
	font-weight: 400;
	border-bottom: 1px dashed #ddd;
	white-space:nowrap;
}
.flex-box a:hover {
	color: #232323;
}
.flex-box a:last-child {
	border-bottom: none;
}
.copyright {
	display: block;
	padding: 48px 0 60px;
	background: url(../imgs/copybg.png) no-repeat center top;
}
.copyright p {
	font-size: 14px;
	color: #fff;
	text-align: center;
	opacity: 0.4;
}
.copyright p a {
	font-size: 14px;
	color: #fff;
	text-align: center;
}




/* 响应式样式 */
@media screen and (max-width:1280px) {
    .wrapper {
		width: 90%;
	}
	.copyright {
		background-size: 100%;
	}
	.tools-list .tools-link {
		font-size: 16px;
	}
}

@media screen and (max-width:960px) {
    .wrapper {
		width: 90%;
	}
	.content {
		padding: 32px 32px;
	}
	.article-list {
		padding: 28px 0;
	}
	.article-date {
		width: 12%;
	}
	.article-text {
		width: 84%;
	}
	.tools-list {
		display: block;
	}
	.tools-list .tools-link {
		display: block;
		margin: 30px auto 0;
	}
	.tools-list .tools-link:first-child {
		margin-right: 0;
	}
	.tools-list .tools-link:last-child {
		margin-left: 0;
	}
}

@media screen and (max-width:768px) {
    .wrapper {
		width: 90%;
	}
	.header {
		padding-top: 66px;
	}
	.content {
		padding: 20px 32px;
	}
	.article-list {
		padding: 24px 0;
	}
	.article-date {
		width: 12%;
		height: 88px;
	}
	.article-date b {
		margin-top: 18px;
	}
	.article-text {
		width: 80%;
	}
	.article-text a {
		font-size: 20px;
	}
	.article-text p {
		font-size: 14px;
	}
	.footer {
		padding: 8px 32px 48px;
	  	display: block;
	}
	.flex-box {
		width: 100%;
	}
	.center-box {
		margin: 0;
	}
	.flex-box h2 {
		font-size: 18px;
		color: #343434;
		font-weight: 400;
		margin-top: 32px;
		margin-bottom: 8px;
	}
	.flex-box a {
		width: 100%;
		padding: 16px 0;
		font-size: 14px;
		color: #666;
	}	
	.flex-box a:last-child {
		border-bottom: 1px dashed #ddd;
	}
}

@media screen and (max-width:480px) {
    .wrapper {
		width: 96%;
	}
	.menu {
		margin-top: 36px;
	}
	.nav a {
		padding: 6px 12px;
		font-size: 14px;
		margin: 0 4px;
		color: #16576B;
	}
	.content {
		padding: 24px;
	}
	.article-list {
		padding: 16px 0;
	}
	.article-date {
		display: none;
	}
	.article-text {
		width: 100%;
	}
	.article-text a {
		color: var(--maincolor);
		font-size: 17px;
	}
	.article-text p {
		font-size: 14px;
		line-height: 20px;
	}
	.tools-list .tools-link {
		display: block;
		margin: 20px auto 0;
		font-size: 15px;
	}

	.footer {
		padding: 8px 24px 32px;
	}
	.copyright {
		padding: 24px 0 30px;
		background-size: 100%;
	}
	.copyright p {
		font-size: 12px;
		color: #fff;
		opacity: 0.4;
	}
	.copyright p a {
		font-size: 12px;
	}
}


/* style end */
