/* CSS Document */
@charset "utf-8";

body{
	background: #fdfdfd;
}


.container {
	width: 960px;
	margin: 100px auto;
}
.blog-box {
	position: relative;
	width: 800px;
	margin: 0 auto;
	border-left: 2px solid #F1F0EE;
	padding: 20px 0 100px;
}
.date {
	position: absolute;
	left: 30px;
	top: -22px;
	background: #F7F3EE;
	display: inline-block;
	padding: 3px 20px;
	color: #948C79;
	text-decoration: none;
	border-radius: 20px;
}
.date:hover {
	background: #E7D9BA;
}
.round {
	position: absolute;
	left: -10px;
	top: -19px;
	display: block;
	width: 15px;
	height: 15px;
	background: #fdfdfd;
	border: 2px solid #F1F0EE;
	border-radius: 20px;
}
.ct-box {
	margin: 0 30px;
}
.ct-title {
	font-size: 16px;
	color: #444;
	line-height: 28px;
	font-weight: normal;
}
.ct-p {
	font-size: 14px;
	color: #666;
	line-height: 20px;
	margin-top: 10px;
}
.ct-pic {
	margin-top: 10px;
	max-width: 740px;
}
.ct-link {
	color: #5F83A8;
	font-size: 30px;
}

































