/* CSS Document
@charset "utf-8";

By I_amzQs
2018-11-06
*/


/* 邀请中心样式style */
html,body {
    width:100%;
    height:100%
}
body#bg {
	margin: 0 auto;
    max-width: 650px;
    /*background-image: url("../imgs/activityImgs/bg.png");*/
    background: #40a6fb;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #40a6fb, #0974e8 70%, #0974e8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #40a6fb, #0974e8 70%, #0974e8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-repeat: no-repeat;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
.pic-box {
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.title-pic {
	margin-top: 20%;
	width: 70%;
}
.story-pic {
	margin-top: 10%;
	margin-left: 20px;
	width: 90%;
}
.botton-box {
	width: 80%;
	margin: 20px auto;
}
.botton-box p {
	margin-top: 20px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	opacity: 0.6;
}
.get-btn {
	display: block;
	width: 100%;
	line-height: 48px;
	border-radius: 30px;
	color: #fef2e1;
	font-weight: 800;
	font-size: 18px;
	text-align: center;
	letter-spacing: 2px;
	background: #fda000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #fda000, #ff7a01);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #fda000, #ff7a01); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0px 5px 0px #fd5800;
}

/* style end */
